{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <ul>
            {% for monster in monsters.monsters %}

                <li>mon nom est {{ monster.name }}</li>

            {% endfor %}
        </ul>
    </div>
{% endblock %}